#main {
    max-width: 1000px;
    max-height: 400px;
    background-color: #ffffff;
    color: #99668D;
    margin: 30px auto 0px;
    padding: 10px;
    
  }

.apply-container {
    
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 3px solid salmon;
}

.application-form {
    width: 500px;
    display: inline-flex;
    justify-content: around;
    flex-direction: row;
    padding: 10px;
    border: 3px solid lightsalmon;
}

.decisions {
    padding: 10px;
    border: 3px solid purple;
}

.mascot {
    padding: 10px;
    border: 3px solid pink;
}

.conditionals {
    padding: 10px;
    border: 3px solid lightblue;
}



#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }

  .stats {
    border: 3px solid yellow;
  }

  button {
    cursor: pointer;
    color: #3F7FBF;
    background-color: #3F7FBF;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  #continue-btnn {
    display: none;
  }